@model List<AdminViewModel>

<h2>Admins List</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.FullName</td>
                <td>@a.Email</td>
                <td>@(a.IsActive ? "Active" : "Inactive")</td>
                <td><a href="/Admin/Details/@a.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>